.run-code {
  opacity: 0.3;
  z-index: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  margin: 0;
  padding: 0.2em 0.5em;
  font-family: inherit;
  font-size: 100%;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.run-code:hover {
  opacity: 1;
}

.pdf-page .run-code {
  display: none;
}