.run-code {
  opacity: 0.1;
  z-index: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  margin: 0;
  padding: 0.2em 0.5em;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.run-code:hover,
.run-code:focus {
  opacity: 1;
}

.pdf-page .run-code {
  display: none;
}